@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

html {
    background-color: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;

}
.cards {
    display: grid;    
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    height: 100vh;
    padding: 0 20rem;
    
}
H1 {

}

.sedans {
background-color: hsl(31, 77%, 52%);
border-radius: 10px 0 0 10px;
}

.suvs {
background-color: hsl(184, 100%, 22%);


}

.luxury {
background-color: hsl(179, 100%, 13%);
border-radius: 0 10px 10px 0;
}

.attribution {
    display: none;

    
}

button {
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 30px 30px;
    background-color: white;
    border: none;
    border-radius: 30px;
    
}

.sedan_button {
    color: hsl(31, 77%, 52%) ;
}

.SUVS_button {
    color: hsl(184, 100%, 22%);

}

.Luxury_button {
    color: hsl(179, 100%, 13%);
}