html {
    background-color: hsl(0, 0%, 95%);
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.sedans {
background-color: hsl(31, 77%, 52%);
}

.suvs {
background-color: hsl(184, 100%, 22%);


}

.luxury {
background-color: hsl(179, 100%, 13%);
}

.attribution {
    display: none;

    
}

button {
    padding: 10px 15px 10px 15px;
    background-color: hsla(0, 0%, 100%);
    border: none;
    border-radius: 45px;
    
}

.sedan_button {
    color: hsl(31, 77%, 52%) ;
}

.SUVS_button {
    color: hsl(184, 100%, 22%);

}

.Luxury_button {
    color: hsl(179, 100%, 13%);
}