html {
    background-color: hsl(0, 0%, 95%);
}

body {
    display: flex;
    justify-content: center;
    

}

.sedans {
background-color: hsl(31, 77%, 52%);
}

.suvs {
background-color: hsl(184, 100%, 22%);


}

.luxury {
background-color: hsl(179, 100%, 13%);
}

.attribution {
    display: none;

    
}