body {
    display: flex;
    
    

    

}

.sedans {
background-color: aqua;
}

.suvs {
background-color: red;


}

.luxury {
background-color: crimson;
}

.attribution {
    display: none;

    
}